.media-details {
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__img {
        img {
            border-radius: 4px;
            overflow: hidden;
            width: 100%;
            object-fit: cover;
        }
    }

    &__editor {
        padding: 30px;
    }

    &__not {
        padding: 30px;
    }

    // ----------------------------------

    &__section {
        padding: 30px;
    }

    &__section--no-top-padding {
        padding-top: 0;
    }

    &__section--top-border {
        border-top: 1px solid #1c1d1d;
    }

    // ----------------------------------

    &-col {
        vertical-align: top;
        width: 360px;
        display: table-cell;
        border-left: 1px solid #1b1b1b;
    }

    &-nothing {
        vertical-align: middle;
        text-align: center;
        color: #464646;

        &__icon {
            font-size: 40px;
            margin-bottom: 10px;
        }
    }

}

.media-details-control {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.media-details-use {
    margin-top: 30px;
    text-align: center;
    display: block;
    width: 100%;
}

.media-details-variations {
    padding: 20px 30px;
    border-top: 1px solid #1c1d1d;
    border-bottom: 1px solid #1c1d1d;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px 0;
    }

    &__name {
        color: #707a84;
    }

    &__view {
        font-size: 18px;
        color: #6a7073;

        &:hover {
            color: #fff;
        }
    }
}
